{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock %}


{%block content%}

{% load static %}

{% csrf_token %}

<table class="products">


</table>
<div id="totalCost">Dodaj coś do koszyka zanim zgłodniejesz!</div>
<button class="btn btn-danger" onclick="delete_all()">Usuń koszyk</button>
<a type="submit" class="btn-success zamow" href="/zamowienia/make_order">Zamów</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/checkout.js' %}" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/order_chech.css' %}"/>
{% endblock %}

