{% extends "base.html" %}




{% block content %}

{% load static %}

<h1>Twoje zamówienie w restauracji o id {{id}} </h1>

<div>
<form method="POST" class="none"> 
  {% csrf_token %}


<label for="exampleFormControlSelect1">Status</label>
    <select class="form-control" id="exampleFormControlSelect1" name="select">
      <option value="przygotowywane">przygotowywane</option>
      <option value="dostarczane">dostarczane</option>
      <option value="zakonczone">zakonczone</option>
    </select>

  <input type = "submit" value="Zmien status"/>


</form>
</div>

<div>
  <br><br>
  Order: {{order.id}} <br>

  date: {{order.date}}<br>

  gdzie?: {{order.street}} {{order.building_number}} / {{order.local_number}}
      <br> {{order.pass_code}} {{order.city}} <br>
  
  status: {{order.status}}




</div>




{% endblock content %}