{% extends "base.html" %}

{%block content%}
{{request.user.name}}

{% comment %} {% for obj in objs %}
<a href='../menu/{{obj.id}}'>
<h1>{{obj.name}}</h1>
<li>
    <ul>{{obj.id}}</ul>
    <ul>{{obj.kitchen_type}}</ul>
    <ul><img src="{{obj.img_path.url}}"/>
   
    </ul>
    
</li>
</a>
<a href='../zamowienia/{{request.user.id}}/{{obj.id}}/create'>Zamow</a>

{% endfor %} {% endcomment %}

<div class="row" >

    {% for obj in objs %}

  <a href="../menu/{{obj.id}}">
    <div class="col-md-4 col-sm-6 col-lg-4">
      <div class="card large yellow darken-3">
          <div class="card-image">
            <img src="{{obj.img_path.url}}">
            <span class="card-title black">{{obj.name}}</span>
          </div>
        <div class="card-content black-text">
          <p>Właściciel: {{obj.owner}}</p>
          <p>Typ kuchni: {{obj.kitchen_type}}</p>
        </div>
        <div class="card-action yellow lighten-3">
           
            <a class="black-text" href="../menu/{{obj.id}}/create">Dodaj do menu</a>
            <a class="black-text" href="../{{obj.id}}/delete">Usuń</a>
        </div>
      </div>
    </div>
  </a>

    {% endfor %}

  </div>

{% endblock %}