{% extends "base.html" %}




{%block content%}

{% load static %}



{% comment %} 
<ol>
{% for obj in objs %}
<li>
<h1>{{obj.name}}</h1>
<ul>
    <li style="display: none;" ><obj class="obj">{{obj}}</obj></li>
    <li style="display: none;" ><obj class="id">{{obj.id}}</obj></li>
    <li ><obj class="rest_id">{{obj.restaurant_id}}</obj></li>
    <li style="display: none;">{{obj.owner_id}}</li>
    <li class="name">{{obj.name}}</li>
    <li>{{obj.description}}</li>
    <li ><obj class="price">{{obj.price}}</obj> PLN</li>

    
   
    <li> <a   class="add-to-cart btn btn-primary" href="#" > Dodaj do zamówienia</a></li>
    
</ul>
</li>
{% endfor %} 
</ol>
{% endcomment %}


<div class="row">

    {% for obj in objs %}
    <div class="col s12 m6">
      <div class="card yellow darken-3">
        <div class="card-content white-text">
          <span class="card-title">{{obj.name}}</span>
          <p>{{obj.description}}</p>
          <p>Cena: {{obj.price}} PLN</p>
        </div>
        <div class="card-action yellow lighten-3">
            <a   class="add-to-cart btn btn-primary" href="#" > Dodaj do zamówienia</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>


<script type="text/javascript" src="{% static 'order.js' %}" ></script>
{% endblock %}