{% extends "base.html" %}




{% block content %}

{% load static %}



{% comment %} 
<ol>
{% for obj in objs %}
<li>
<h1>{{obj.name}}</h1>
<ul>
    <li style="display: none;" ><obj class="obj">{{obj}}</obj></li>
    <li style="display: none;" ></li>
    <li ></li>
    <li style="display: none;">{{obj.owner_id}}</li>
    <li class="name">{{obj.name}}</li>
    <li>{{obj.description}}</li>
    <li ><obj class="price">{{obj.price}}</obj> PLN</li>

    
   
    <li> <a   class="add-to-cart btn btn-primary" href="#" > Dodaj do zamówienia</a></li>
    
</ul>
</li>
{% endfor %} 
</ol>
{% endcomment %}

<div class= "row">


    {% for obj in objs %}
    <div class="list-group-item d-flex justify-content-between align-items-center  ">
      <div class="card large yellow darken-3 col-md-12 " >
        <div class="card-image">
          <img src={{obj.img_path.url}}>
          <span class="card-title black name">{{obj.name}}</span>
        </div>
        <div class="card-content black-text">
          
          <p style="display: none;"><obj class="obj">{{obj}}</obj></p>
          <p style="display: none;"><obj class="id">{{obj.id}}</obj></p>
          <p style="display: none;"><obj class="rest_id">{{obj.restaurant_id}}</obj></p>
          <p>{{obj.description}}</p>
          <p>Cena: <obj class="price">{{obj.price}} </obj> PLN</p>
        </div>
        <div class="card-action yellow lighten-3">
            <a   class="add-to-cart btn btn-primary black-text" href="#" > Dodaj do zamówienia</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div >


<script type="text/javascript" src="{% static 'order.js' %}" ></script>
{% endblock content %}