body{
    background-color: lightgray;
}

p#cart-no{

    background-color: red;
    color: white;
}

.product_row{
    margin: 5px;
}
.zamow{
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
    background-color: orange;
}