{% extends "base.html" %}

{%block content%}

{% comment %} <form method="post">{% csrf_token %}

    <input type="text" name="username"/>
    <input type="password" name="password"/>
  
<input type="submit" value="logowanie ">

{% for message in messages%}
<p id="">{{message}}</p>
{% endfor %} {% endcomment %}


<div class="row">
    <form class="col s12" method="post">{% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input class="white" placeholder="Username" name="username" type="text">
        </div>
        <div class="input-field col s6">
          <input class="white" placeholder="Password" name="password" type="password">
        </div>
      </div>
      <div class="waves-effect waves-light btn">
          <input type="submit" value="logowanie">
      </div>
    </form>
    {% for message in messages%}
        <p id="">{{message}}</p>
    {% endfor %}
  </div>


  
{% endblock %}