{% extends "base.html" %}

{%block content%}

{% comment %} <form method="post">{% csrf_token %}

    {{ form.username.label }}
    {{form.username}}
    

    {{form.email.label}}
    {{form.email}}
    
    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}
   <input type="submit" value="rejestracja ">


   {{form.errors}} {% endcomment %}

<div class="w3-container w3-teal">
  <h2>Rejestracja</h2>
</div>

<form class="w3-container w3-third" method="post" enctype="multipart/form">{% csrf_token%}
  <div class="w3-input w3-border w3-white">
    <label class="w3-text-black"><b>{{form.username.label}}</b></label>
    {{form.username}}
    <label class="w3-text-black"><b>{{form.email.label}}</b></label>
    {{form.email}}
    <label class="w3-text-black"><b>{{form.password1.label}}</b></label>
    {{form.password1}}
    <label class="w3-text-black"><b>{{form.password2.label}}</b></label>
    {{form.password2}}
    <button class="w3-btn w3-teal" type="submit">Zarejestruj</button>
    {{form.errors}}
  </div>
</form>


{% endblock %}